.linedwrap, .linedtextarea, .lined {
    background-color: rgb(255, 255, 221);
}
.lined {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea, .lineno {
    font-family: Menlo, monospace !important;
    font-size: 16px !important;
    vertical-align: bottom !important;
}

.linedwrap, .codelines, .lines {
    border: none !important;
}

#result {
    background-color: #E0EBF5; 
    padding: 20px;
}
