<html>
<head>
	<title>UnitX simulator</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="js/jquery-linedtextarea.js"></script>
	<link href="css/jquery-linedtextarea.css" type="text/css" rel="stylesheet" />
	<link href="css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <h1>UnitX simulator</h1>

    <form id="uploadForm" action="/run" method="post">
        <button type="submit" name="run_code">RUN</button>
        <textarea type="text" name="code" id="code" class="lined" rows="10" cols="60">{{ code }}</textarea>
    </form>
    <!--<textarea itemprop="description" id="code" class="lined" name="code"></textarea>-->
        <!--
        <form id="uploadForm" action="/run" method="post">
            <textarea name="text" id="code" rows="10" cols="60"></textarea>
            <input type="submit" name="run_code" value="run" />
        </form>
        -->
    <!--<button type="submit" id="run_button">Run</button>-->

    <pre id="result">{{ result }}<pre>




    </script>


</body>
</html>
