<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
	<title>UnitX simulator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
	<link href="css/jquery-linedtextarea.css" type="text/css" rel="stylesheet" />
	<link href="css/style.css" type="text/css" rel="stylesheet" />
</head>

<body>

    <form id="uploadForm" action="/?name={{selected_name}}" method="post">
        <nav class="navbar navbar-light bg-faded">
            <!-- Title -->
            <a class="navbar-brand" href="https://github.com/supertask/UnitX" target='_blank' style="margin-right: 30px;">
                <img src="img/unit.png" width="30" height="30" class="d-inline-block align-top" alt="UnitX logo">
                UnitX Simulator
            </a>

            <!-- Program buttons -->
            <span class="input-group-btn float-xs-left">
                {% set sample_programs = {
                    'unit_converter': 'Unit converter',
                    'time_schedule': 'Time schedule',
                    'currency_converter': 'Currency converter'
                }%}

                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ sample_programs[selected_name] }}</button>

                <div class="dropdown-menu">
                {% for name,title in sample_programs.items() -%}
                    {% if name == selected_name %}
                        <a class="dropdown-item active" href="/?name={{ name }}">{{ title }}</a>
                    {% else %}
                        <a class="dropdown-item" href="/?name={{ name }}">{{ title }}</a>
                    {% endif %}
                {% endfor %}
                </div>
                <button type="submit" name="run_code" class="btn btn-primary">Run</button>
            </span>

            <!-- Right -->
            <span class="float-xs-right">
                <!--<a class="btn btn-primary" href="/?about=52" role="button">About</a>-->
                <button type="button" id="about" class="btn btn-primary" >About</button>
            </span>
        </nav>
        <textarea type="text" name="code" class="lined" rows="14" style="width: 100%;">{{code}}</textarea>
        <pre id="result">{{result}}</pre>
        <div id="about_unitx" style="display:none; background-color: rgb(255, 255, 221); padding: 30px;">
        <div style="width: 50%;">
            <h4>UnitX Simulator</h4>
            <p>UnitX Simulator is a web service that runs UnitX language. The service receives a UnitX program, runs the program on the Heroku, and then returns the output. </p>
            <p>However, the UnitX still have some bugs which make probably you upset. 
            Please send me pull requests into <a href="http://github.com/supertask/UnitX" target='_blank'>"https://github.com/supertask/UnitX/pulls"</a> if you felt mad. Thank you!</p>
            <h6>Links of UnitX Simulator and UnitX</h6>
            <p>
                <a href="http://github.com/supertask/UnitX" target='_blank'>http://github.com/supertask/UnitX</a><br />
                <a href="http://github.com/supertask/UnitXSimulator" target='_blank'>http://github.com/supertask/UnitXSimulator</a><br />
            </p>
        </div>
</div>
    </form>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

    <!-- Jquery -->
	<script src="js/jquery-linedtextarea.js"></script>
    <script>
    $(function() {
        $(".lined").linedtextarea();

        var isClicked=false;
        var ex_result="";

        function show_about() {
            $(".linedwrap").show();
            $("#result").show();
            $("div#about_unitx").hide();
            isClicked = false;
        }

        $("button#about").click(function(){
            if (isClicked) {
                show_about();
            }
            else {
                $(".linedwrap").hide();
                $('#result').hide();
                $("div#about_unitx").show();
                $("div#about_unitx").click(function() {
                    show_about();
                });
                isClicked = true;
            }
        });
    }); 
    </script>

  </body>
</html>
